
@media (min-width: 768px) {
  .o_form_view {
    display: -webkit-box; display: -webkit-flex; display: flex;
    -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
    min-height: 100%;
  }
}

.o_form_view .o_form_sheet_bg {
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dee2e6;
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border: 1px solid #ced4da;
  box-shadow: 0 5px 20px -15px black;
  margin: 4.8px auto;
  padding: 24px;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 576px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    margin: 12px auto;
  }
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    padding-right: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    padding-left: 32px;
  }
}

.o_form_view .o_form_sheet_bg > .o_form_sheet > .o_selection {
  float: right;
}

.o_form_view .oe_title {
  color: #212529;
}

@media (min-width: 475px) {
  .o_form_view .oe_title {
    padding-right: 45px;
  }
}

.o_form_view .oe_avatar {
  float: right;
  margin-bottom: 10px;
}

.o_form_view .oe_avatar > img {
  max-width: 90px;
  max-height: 90px;
  vertical-align: top;
  border: 1px solid #a8a8a8;
}

.o_form_view .oe_avatar + .oe_title {
  padding-right: 100px;
}

.o_form_view .oe_button_box {
  position: relative;
  display: block;
  margin-bottom: 24px;
  margin-top: -24px;
  margin-left: -16px;
  margin-right: -16px;
  text-align: right;
  box-shadow: inset 0 -1px 0 #ced4da;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .oe_button_box {
    margin-left: -32px;
    margin-right: -32px;
  }
}

.o_form_view .oe_button_box.o_full .oe_stat_button:not(.o_invisible_modifier) ~ .oe_stat_button {
  border-left: 1px solid #ced4da;
}

.o_form_view .oe_button_box.o_not_full .oe_stat_button {
  border-left: 1px solid #ced4da;
}

.o_form_view .oe_button_box > .btn.oe_stat_button, .o_form_view .oe_button_box > .o_dropdown_more {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  width: 33.33333333%;
}

@media (min-width: 768px) {
  .o_form_view .oe_button_box > .btn.oe_stat_button, .o_form_view .oe_button_box > .o_dropdown_more {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .o_form_view .oe_button_box > .btn.oe_stat_button, .o_form_view .oe_button_box > .o_dropdown_more {
    width: 14.28571429%;
  }
}

@media (min-width: 1200px) {
  .o_form_view .oe_button_box > .btn.oe_stat_button, .o_form_view .oe_button_box > .o_dropdown_more {
    width: 12.5%;
  }
}

.o_form_view .oe_button_box .btn.oe_stat_button {
  color: #666666;
  height: 44px;
  padding: 0 6px 0 0;
  text-align: left;
  background-color: transparent;
  opacity: 0.8;
}

.o_form_view .oe_button_box .btn.oe_stat_button:hover, .o_form_view .oe_button_box .btn.oe_stat_button:focus {
  background-color: rgba(0, 0, 0, 0.02);
  color: inherit;
  opacity: 1;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_button_icon {
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  line-height: 44px;
  width: 30%;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_button_icon:before {
  font-size: 22px;
  vertical-align: middle;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_field_percent_pie {
  margin-left: 6px;
}

.o_form_view .oe_button_box .btn.oe_stat_button > span {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: normal;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info, .o_form_view .oe_button_box .btn.oe_stat_button > span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  max-width: 70%;
  padding-right: 6px;
  line-height: 1.3;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info > .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info > .o_stat_text, .o_form_view .oe_button_box .btn.oe_stat_button > span > .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > span > .o_stat_text {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_value {
  font-weight: 700;
  color: #875A7B;
  line-height: 1.2;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_text, .o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_text {
  line-height: 1.2;
}

.o_form_view .oe_button_box .btn.oe_stat_button.o_button_more {
  text-align: center;
}

.o_form_view .oe_button_box .btn.oe_stat_button.o_button_more:after {
  margin-left: 5px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  -moz-transform: scale(0.9999);
}

.o_form_view .oe_button_box .btn.oe_stat_button.o_button_more[aria-expanded="true"]:after {
  margin-left: 5px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0;
  -moz-transform: scale(0.9999);
}

.o_form_view .oe_button_box > .o_dropdown_more {
  position: absolute;
  top: 100%;
  left: auto;
  bottom: auto;
  right: 0;
  min-width: 0;
  border: none;
  border: 1px solid #dee2e6;
  margin: 0;
  padding: 0;
}

@media (max-width: 767.98px) {
  .o_form_view .oe_button_box > .o_dropdown_more {
    position: relative !important;
    transform: none !important;
    will-change: inherit !important;
    margin-bottom: 20px;
    width: 100%;
    border-width: 0px;
  }
}

.o_form_view .oe_button_box > .o_dropdown_more > .btn.oe_stat_button {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dee2e6;
}

@media (max-width: 767.98px) {
  .o_form_view .oe_button_box > .o_dropdown_more > .btn.oe_stat_button {
    display: inline-block;
    width: 33.33333333%;
    padding: inherit !important;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_1 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_2 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_3 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_4 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_5 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_6 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_7 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_8 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_9 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_10 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_11 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group .o_group_col_12 {
    width: 100%;
  }
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
  padding: 0 45px 0 0;
}

@media (min-width: 475px) {
  .o_form_view .o_group .o_field_widget.o_text_overflow {
    width: 1px !important;
    min-width: 100%;
  }
  .o_form_view .o_group .o_form_label {
    margin-bottom: 5px;
  }
}

@media (max-width: 991.98px) {
  .o_form_view .o_group.o_label_nowrap .o_form_label {
    white-space: normal;
  }
}

.o_form_view .o_form_label.o_form_label_empty, .o_form_view .o_form_label.o_form_label_false {
  opacity: 0.5;
  font-weight: normal;
}

@media (max-width: 767.98px) {
  .o_form_view .o_form_label {
    font-size: 15px;
  }
}

.o_form_view > .oe_chatter {
  -webkit-box-flex: 0; -webkit-flex: 1000 0 auto; flex: 1000 0 auto;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 0;
}

@media (min-width: 576px) {
  .o_form_view > .oe_chatter {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .o_form_view > .oe_chatter {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .o_form_view > .oe_chatter {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .o_form_view > .oe_chatter {
    max-width: 1140px;
  }
}

.o_form_view .o_notebook > .nav.nav-tabs {
  border-bottom: 1px solid #ced4da;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .nav.nav-tabs {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .nav.nav-tabs {
    padding-left: 32px;
  }
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link {
  color: #666666;
  border: 1px solid #ced4da;
  border-bottom-width: 0;
  padding: 0.5rem 1rem;
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link:hover, .o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link:focus, .o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link:active {
  outline: none;
  color: #008784;
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.active {
  border: 1px solid #ced4da;
  border-bottom: 0;
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.active, .o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.active:hover, .o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.active:focus, .o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.active:active {
  color: #212529;
  border-top-color: #875A7B;
  background-color: white;
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item > .nav-link.disabled {
  color: #adb5bd;
}

.o_form_view .o_notebook > .nav.nav-tabs > .nav-item + .nav-item {
  margin-left: -1px;
}

.o_form_view .o_notebook > .tab-content {
  border-bottom: 1px solid #ced4da;
}

.o_form_view .o_notebook > .tab-content > .tab-pane {
  padding: 16px 0;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child {
  margin-top: 0;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  border: none;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text {
    margin-left: -32px;
    margin-right: -32px;
  }
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-editor.panel {
  border: none;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading {
  padding-left: 16px;
  padding-right: 16px;
  border-top: none;
  padding-top: 4.8px;
  background: white;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading {
    padding-left: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading {
    padding-right: 32px;
  }
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading .btn-secondary {
  color: #666666;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading .btn-secondary:hover, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading .btn-secondary:focus, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-toolbar.panel-heading .btn-secondary.focus {
  color: #008784;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-editing-area, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .o_readonly {
  padding: 0.75rem 1.25rem;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-editing-area, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .o_readonly {
    padding-left: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .note-editing-area, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text .o_readonly {
    padding-right: 32px;
  }
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.oe_form_field_html_text + .oe_clear:last-child {
  margin-bottom: -59.5px;
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list {
  display: block;
  width: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list {
    margin-left: -32px;
    margin-right: -32px;
  }
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child .o_input {
  padding-left: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child .o_input {
    padding-left: 32px;
  }
}

.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :last-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :last-child .o_input {
  padding-right: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
  .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :last-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :last-child .o_input {
    padding-right: 32px;
  }
}

.o_form_view .o_notebook:last-child > .tab-content {
  border-bottom: none;
}

@media (max-width: 767.98px) {
  .o_form_view .o_notebook {
    position: relative;
    padding-top: 39px;
  }
  .o_form_view .o_notebook ul.nav-tabs {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-flex-flow: row nowrap; flex-flow: row nowrap;
    min-width: 100%;
    max-width: calc(100% + 16px);
    overflow-x: auto;
  }
  .o_form_view .o_notebook ul.nav-tabs::-webkit-scrollbar {
    display: none;
  }
  .o_form_view .o_notebook ul.nav-tabs .nav-item {
    white-space: nowrap;
    margin-bottom: 0;
  }
  .o_form_view .o_cp_buttons {
    width: 100%;
  }
  .o_form_view .o_cp_buttons div, .o_form_view .o_cp_buttons .o-kanban-button-new {
    width: 100%;
  }
}

.o_form_view .o_field_widget .o_list_view.table-striped > tbody > tr > td {
  border-top: none;
}

.o_form_view .o_field_widget .o_list_view.table-striped > tfoot > tr {
  box-shadow: inset 0 1px 0 #dee2e6;
}

.o_form_view .o_field_widget .o_list_view.table-striped > tfoot > tr > td {
  border: none;
}

.o_form_view .o_field_widget .o_list_view.table-striped > tfoot > tr > td:empty {
  padding: 0;
}

.o_form_view .o_field_translate {
  margin-left: -12px;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer {
  border-top: 1px solid #dee2e6;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator {
  border-top: 1px solid #dee2e6;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button {
  font-weight: 500;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
  font-weight: bold;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:first-of-type {
  padding-right: 16px;
}

@media (min-width: 1534px) {
  .o_form_view {
    -webkit-flex-flow: row nowrap; flex-flow: row nowrap;
    height: 100%;
  }
  .o_form_view > .o_form_sheet_bg {
    -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
    width: 1022px;
    padding: 0 16px;
    overflow: auto;
    border-bottom: none;
  }
  .o_form_view > .o_form_sheet_bg > :not(.o_form_sheet) {
    margin-left: -16px;
    margin-right: -16px;
  }
  .o_form_view > .o_form_sheet_bg > .o_form_sheet {
    width: 100%;
    max-width: 1140px;
  }
  .o_form_view > .oe_chatter {
    -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
    width: 530px;
    padding: 0;
    overflow: auto;
    border-left: 1px solid #dee2e6;
    background-color: white;
  }
  .o_form_view > .oe_chatter .o_chatter_topbar {
    margin: 0;
    padding: 0;
  }
  .o_form_view > .oe_chatter .o_chatter_topbar > .btn, .o_form_view > .oe_chatter .o_chatter_topbar > .o_followers {
    padding-top: 0;
    padding-bottom: 0;
    height: 33px;
    line-height: 28.5px;
  }
  .o_form_view > .oe_chatter .o_chatter_topbar > .btn .dropdown-menu, .o_form_view > .oe_chatter .o_chatter_topbar > .o_followers .dropdown-menu {
    line-height: 1.5;
  }
  .o_form_view > .oe_chatter .o_chatter_topbar > .btn:first-child {
    padding: 0 16px;
    border-left: none !important;
  }
  .o_form_view > .oe_chatter .o_chatter_topbar .o_followers {
    padding-right: 16px;
  }
  .o_form_view > .oe_chatter.o_chatter_composer_active .o_chatter_topbar > .btn.o_active {
    border-width: 0 1px;
  }
  .o_form_view > .oe_chatter .o_thread_composer {
    border-width: 1px 0;
    margin-top: 0;
  }
  .o_form_view > .oe_chatter .o_thread_composer .o_composer_mention_dropdown {
    position: absolute;
    top: 100%;
  }
  .o_form_view > .oe_chatter .o_thread_composer .o_composer_mention_dropdown > .dropdown-menu {
    top: 100%;
    bottom: auto;
  }
  .o_form_view > .oe_chatter .o_followers_title_box {
    margin-left: 8px;
  }
  .o_form_view > .oe_chatter .o_followers_title_box .dropdown-toggle {
    padding-right: 0;
  }
}

@media (max-width: 991.98px) {
  .modal .modal-dialog .o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label {
    min-width: 100px;
  }
}

.modal .modal-dialog.modal-sm .o_form_view .o_group {
  display: block;
  margin-bottom: 20px;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody {
  display: block;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row wrap; flex-flow: row wrap;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr > td {
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
  display: block;
  max-width: 100%;
  padding: 0;
  width: auto !important;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr > td.o_td_label {
  width: 94% !important;
  line-height: 0.8;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr > td .o_field_widget {
  margin-bottom: 10px;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr > td .o_field_widget.o_field_boolean {
  margin-right: 0;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group > tbody > tr > td .o_input_dropdown {
  width: auto;
  max-width: 100%;
}

.o_form_view.o_xxs_form_view .o_group .o_td_label .o_form_label {
  font-weight: normal;
}

.o_form_view.o_xxs_form_view .o_form_label {
  margin-top: 3px;
  font-size: 12px;
  font-weight: normal;
  color: #8f8f8f;
}

.o_form_view.o_xxs_form_view .o_form_label.o_form_label_empty {
  display: none;
}

