
.o_kanban_gamification img.o_kanban_badge_avatars {
  width: 30px;
  height: 30px;
  padding-left: 0;
  margin-top: 8px;
  border-radius: 2px;
  -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.o_kanban_gamification .o_kanban_content .o_goal_state_block {
  width: 200px;
  height: 130px;
  margin: auto;
  margin-bottom: -20px;
  text-align: center;
}

.o_kanban_gamification .o_kanban_content .o_goal_state_block .o_goal_state {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 13px;
}

.o_kanban_gamification .o_kanban_badge_description {
  padding-bottom: 15px;
}

.o_kanban_gamification .o_red {
  color: red;
}

.o_kanban_gamification .o_green {
  color: green;
}

.o_kanban_gamification .o_orange {
  color: orange;
}

