
.o_list_view {
  border-collapse: collapse;
}

.o_list_view > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 14px;
}

.o_list_view > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 30px !important;
}

.o_list_view > thead > tr > :empty, .o_list_view > tbody > tr > :empty, .o_list_view > tfoot > tr > :empty {
  padding: 0;
}

.o_list_view > thead > tr > :empty::after, .o_list_view > tbody > tr > :empty::after, .o_list_view > tfoot > tr > :empty::after {
  display: none;
}

.o_list_view > thead > tr > *, .o_list_view > tfoot > tr > * {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.o_list_view > thead {
  background-color: white;
  border: none;
}

.o_list_view > thead > tr:first-child > th {
  border: none;
}

.o_list_view > tfoot {
  border-bottom: none;
  border-top: none;
}

.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
  box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}

.o_list_view .o_progressbar_cell .o_progressbar {
  display: table-row;
}

.o_list_view .o_progressbar_cell .o_progressbar > div {
  width: 100%;
  display: table-cell;
}

.o_list_view .o_progressbar_cell .o_progressbar .o_progressbar_value {
  width: 45px;
  min-width: 45px;
}

.o_list_view.o_list_view_grouped > tbody > tr.o_group_header {
  background-color: #e9ecef;
  box-shadow: inset 0 2px 0 #ffffff;
}

.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content {
  color: #6c757d;
}

.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:hover, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:focus, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.focus {
  color: #00A09D;
}

.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open {
  font-weight: bold;
  color: #212529;
}

.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:hover, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:focus, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open.focus {
  color: #00A09D;
}

.o_list_view.o_list_view_grouped > tbody + tbody > tr:first-child:not(.o_group_header) {
  box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}

.o_list_view.o_list_view_grouped.table-striped > tbody + tbody > tr:not(.o_group_header):nth-of-type(odd) {
  background-color: transparent;
}

.o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) {
  border-right: 1px solid #dee2e6;
}

.o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
  padding-right: 0.27rem;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty) {
  padding: 12px 4px;
}

.o_content > div > .table-responsive > .o_list_view.table > tbody > tr:not(.o_list_view_grouped) > td {
  padding: 5px 4px;
}

.o_content > div > .table-responsive > .o_list_view.table > tfoot > tr > :not(:empty) {
  padding: 10px 4px;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 13px;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 29px !important;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > *:first-child, .o_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:first-child, .o_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:first-child {
  padding-left: 16px !important;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > *:last-child, .o_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:last-child, .o_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:last-child {
  padding-right: 16px !important;
}

.o_content > div > .table-responsive > .o_list_view.table > thead > tr > *.o_list_record_selector, .o_content > div > .table-responsive > .o_list_view.table > tbody > tr > *.o_list_record_selector, .o_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *.o_list_record_selector {
  padding-right: 5px !important;
}

.o_content > div > .table-responsive > .o_list_view.table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
  padding: 5px 4px 5px 5px;
}

@media (min-width: 1200px) {
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > :not(:empty) {
    padding: 13px 4px;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr:not(.o_list_view_grouped) > td {
    padding: 6px 4px;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > :not(:empty) {
    padding: 11px 4px;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty) {
    padding-right: 14px;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty):last-child {
    padding-right: 30px !important;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:first-child, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:first-child, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:first-child {
    padding-left: 16px !important;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:last-child, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:last-child, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:last-child {
    padding-right: 16px !important;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *.o_list_record_selector, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *.o_list_record_selector, .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *.o_list_record_selector {
    padding-right: 5px !important;
  }
  .o_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
    padding: 6px 5px 6px 6px;
  }
}

