
.o_menu_search {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  width: 100%;
  max-width: 850px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  align-items: center;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .o_menu_search {
    margin-top: 25px;
  }
}

.o_menu_search.o_bar_hidden {
  opacity: 0;
}

.o_menu_search .o_menu_search_icon {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  font-size: 20px;
  color: white;
  margin-right: 15px;
}

.o_menu_search .o_menu_search_input {
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: inherit;
}

.o_menu_search .o_menu_search_input:focus {
  outline: none;
}

.o_menu_search .o_menu_search_input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.o_menu_search .o_menu_search_input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}

.o_menu_search .o_menu_search_input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

