
.o_field_selector {
  position: relative;
}

.o_field_selector > .o_field_selector_value {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row wrap; flex-flow: row wrap;
  align-items: center;
  height: 100%;
  min-height: 20px;
}

.o_field_selector > .o_field_selector_value:active, .o_field_selector > .o_field_selector_value:focus, .o_field_selector > .o_field_selector_value:active:focus {
  outline: none;
}

.o_field_selector > .o_field_selector_value > .o_field_selector_chain_part {
  padding: 0px 1px;
  border: 1px solid #dae0e5;
  background: #f8f9fa;
  margin-bottom: 1px;
}

.o_field_selector > .o_field_selector_value > i {
  align-self: center;
  margin: 0 2px;
  font-size: 10px;
}

.o_field_selector > .o_field_selector_controls {
  position: absolute;
  top: 0;
  left: auto;
  bottom: 1px;
  right: 0;
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  cursor: pointer;
}

.o_field_selector.o_edit_mode > .o_field_selector_controls::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  -moz-transform: scale(0.9999);
}

.o_field_selector.o_edit_mode > .o_field_selector_popover {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: 1051;
  width: 265px;
  margin-top: 7px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.o_field_selector.o_edit_mode > .o_field_selector_popover:focus {
  outline: none;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header {
  color: white;
  background: #00A09D;
  font-weight: bold;
  padding: 5px 0 5px 0.4em;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_title {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 0px 35px;
  text-align: center;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_popover_option {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  padding: 7px 8px 8px 6px;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_popover_option.o_prev_page {
  left: 0;
  border-right: 1px solid #006d6b;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_popover_option.o_field_selector_close {
  right: 0;
  border-left: 1px solid #006d6b;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_popover_option:hover {
  background: #006d6b;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header:before {
  position: absolute;
  top: -7px;
  left: 7px;
  bottom: auto;
  right: auto;
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #00A09D;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page {
  position: relative;
  max-height: 320px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item {
  list-style: none;
  position: relative;
  padding: 5px 0 5px 0.4em;
  cursor: pointer;
  font-family: Arial;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #eee;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item.active {
  background: #f5f5f5;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item .o_field_selector_item_title {
  font-size: 12px;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item .o_field_selector_relation_icon {
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  padding: 10px;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_footer {
  background: #00A09D;
  padding: 5px 0.4em;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_footer > input {
  width: 100%;
}

