
.o_mrp_bom_report_page {
  background-color: white;
  margin: 16px auto;
  padding: 24px 16px;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable thead tr {
  border-width: 2px;
  border-top-style: groove;
  border-bottom-style: groove;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr {
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: groove;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr .o_mrp_bom_unfoldable, .o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr .o_mrp_bom_foldable {
  cursor: pointer;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable thead tr th {
  padding-left: 10px;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable tbody > tr > td ~ td > span, .o_mrp_bom_report_page table.o_mrp_bom_expandable tfoot > tr > td ~ td > span {
  margin-left: 10px;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr .o_mrp_bom_no_fold, .o_mrp_bom_report_page table.o_mrp_bom_expandable tfoot tr .o_mrp_bom_no_fold {
  margin-left: 18px;
}

.o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr .o_mrp_bom_unfoldable, .o_mrp_bom_report_page table.o_mrp_bom_expandable tbody tr .o_mrp_bom_foldable, .o_mrp_bom_report_page table.o_mrp_bom_expandable tfoot tr .o_mrp_bom_unfoldable, .o_mrp_bom_report_page table.o_mrp_bom_expandable tfoot tr .o_mrp_bom_foldable {
  margin-left: -2px;
}