
.o_kanban_group .note_text_line_through {
  text-decoration: line-through;
}

.o_note_form_view.o_form_view .o_form_statusbar {
  margin-bottom: 0;
}

.o_note_form_view.o_form_view .oe_form_field.oe_memo {
  margin: 0 -1rem;
  padding: 0;
  min-height: 200px;
}

.o_note_form_view.o_form_view .oe_form_field.oe_memo .note-editor {
  border: none;
}

.o_note_form_view.o_form_view.o_form_readonly .oe_memo {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.o_note.o_mail_preview {
  background-color: white;
}

.o_note.o_mail_preview .o_preview_info .o_preview_title .o_preview_name {
  flex: 1 1 100%;
}

.o_note.o_mail_preview .o_preview_info .o_note_input_box {
  display: -webkit-box; display: -webkit-flex; display: flex;
}

.o_note.o_mail_preview .o_preview_info .o_note_input_box p {
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
  margin-bottom: 0px;
}

.o_note.o_mail_preview .o_preview_info .o_note_save {
  font-size: 11px;
  font-weight: bold;
}

.o_note.o_mail_preview .o_note_input {
  border: none;
}

.o_note.o_mail_preview .o_note_datetime .o_datepicker .o_datepicker_input {
  float: right;
  text-align: right;
  border: none;
  font-size: 11px;
}

.o_note.o_mail_preview .o_note_datetime .o_datepicker .o_datepicker_button {
  display: none;
}

.o_note.o_mail_preview .o_note_set_datetime {
  color: #adb5bd;
}

