
.o_timesheet_plan_sale_timesheet [type='action'] {
  color: #00A09D;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_stat_buttons {
  text-align: right;
  float: none;
  width: auto;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table {
  margin-top: 15px;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table a {
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > thead > tr > th, .o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > thead > tr > td,
.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > tbody > tr > th, .o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > tbody > tr > td {
  border: none;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > tbody > tr > td.o_timesheet_plan_dashboard_cell {
  text-align: right;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_dashboard .table > tbody > tr > td.o_timesheet_plan_dashboard_total {
  border-top: 1px solid;
  text-align: right;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .o_progress_billable_time {
  background-color: #f0ad4e;
  color: white;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .o_progress_billable_fixed {
  background-color: #5bc0de;
  color: white;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .o_progress_non_billable_project {
  background-color: #00A09D;
  color: white;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .o_progress_non_billable {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time > .o_timesheet_plan_badge {
  margin-bottom: 10px;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time > .o_timesheet_plan_badge > .badge {
  border: none;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time > .o_timesheet_plan_badge > .badge a {
  color: white;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .table {
  margin-top: 15px;
}

.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .table > thead > tr > th, .o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .table > thead > tr > td,
.o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .table > tbody > tr > th, .o_timesheet_plan_sale_timesheet .o_timesheet_plan_sale_timesheet_people_time .table > tbody > tr > td {
  border: none;
  padding: 0px;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast th {
  text-align: center;
  vertical-align: top;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast th.o_right_bordered, .o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast td.o_right_bordered {
  border-right: 2px solid #00A09D;
  text-align: center;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_forecast_sale_order {
  font-weight: bold;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_forecast_sale_order > td:first-child {
  color: #00A09D;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_forecast_sale_order_line td:first-child {
  padding-left: 15px;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_forecast_sale_order_line td:first-child > a {
  margin-left: 15px;
  cursor: pointer;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_forecast_hr_employee td:first-child {
  padding-left: 30px;
}

.o_timesheet_plan_sale_timesheet .o_project_plan_project_timesheet_forecast .o_timesheet_plan_redirect {
  cursor: pointer;
}

