
.o_web_client.o_touch_device .ui-autocomplete .ui-menu-item > a, .ui-autocomplete .o_web_client.o_touch_device .ui-menu-item > a, .o_web_client.o_touch_device .show .dropdown-menu .dropdown-item, .show .dropdown-menu .o_web_client.o_touch_device .dropdown-item, .o_web_client.o_touch_device .show .dropdown-menu .dropdown-header, .show .dropdown-menu .o_web_client.o_touch_device .dropdown-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.o_web_client.o_touch_device .btn, .o_web_client.o_touch_device .btn .btn-sm, .o_web_client.o_touch_device .btn .btn-group-sm > .btn {
  font-size: 1.08333333rem;
  padding: 7px 14px;
}

.o_web_client.o_touch_device .btn.fa {
  font-size: 1.3em;
  padding: 2px 10px;
}

