
.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews {
  width: auto;
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card {
  border: none;
  background: none;
  margin: 0 0 6.4px;
  padding: 5px;
  flex: 0 1 50%;
}

@media (min-width: 768px) {
  .o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card {
    flex: 0 0 33.33333333%;
  }
}

@media (min-width: 992px) {
  .o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card {
    flex: 0 0 20%;
  }
}

@media (min-width: 1200px) {
  .o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card {
    flex: 0 0 16.66666667%;
  }
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_image_box {
  padding-top: 50%;
}

@media (min-width: 768px) {
  .o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_image_box {
    padding-top: 75%;
  }
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_image_overlay {
  bottom: 16%;
  background: rgba(33, 37, 41, 0.2);
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_website_sale_image_card_title {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 6px;
  position: relative;
  background: #e9ecef;
  color: #212529;
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_website_sale_image_card_remove, .o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_website_sale_image_card_size {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
  border-radius: 0 2px;
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_website_sale_image_card_size {
  left: 0;
  right: auto;
  border-radius: 0 0 2px;
  font-weight: normal;
  font-size: -0.05208333rem;
}

.o_website_sale_image_list .o_kanban_view.o_kanban_ungrouped.o_attachments_previews .o_kanban_record.o_attachment.o_website_sale_image_card .o_website_sale_image_card_size.label-normal {
  background-color: #e9ecef;
  color: #666666;
}

.o_website_sale_image_modal .o_website_sale_image_modal_container {
  border-left: 1px solid #ced4da;
}

.o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image {
  margin-bottom: 0;
  box-shadow: 0 2px 10px #dee2e6;
}

.o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image > img {
  border: 1px solid #ced4da;
  min-height: 200px;
  max-height: 350px;
  max-height: 50vh;
  width: auto;
}

.o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image .o_form_image_controls {
  opacity: 0.7;
  padding: 2%;
}

.o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image .o_form_image_controls:hover, .o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image .o_form_image_controls:focus, .o_website_sale_image_modal .o_website_sale_image_modal_container .o_field_image .o_form_image_controls.focus {
  opacity: 1;
}

