
.o_dashboard_utms .o_utm_data_graph .nv-pieLabels text {
  fill: white !important;
}

.o_dashboard_utms .o_utm_data_graph .nvd3.nv-pie path {
  fill-opacity: .9;
}

.o_dashboard_utms .utm_chart_image {
  display: block;
  margin: auto;
}

.o_dashboard_utms .utm_dropdown {
  margin-top: -5px;
}

